/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(font/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(font/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(font/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(font/Roboto-Medium.ttf);
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
  height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'Roboto-Thin', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	color:#403212;
	position:relative;
}
.body{
    background-color:#E4E4E4;
    background-image:url(../img/bg1.jpg);
    background-attachment:fixed;
}
.logo_home {
  text-align: center;
  margin: 50px auto 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  text-align: center;
  color: white;
  font-size: 34px;
  font-family:"Roboto-Thin", Arial, sans-serif;
}
h2 {
  text-align: center;
  color: white;
  font-family:"Roboto-Thin", Arial, sans-serif;
}
h3 {
  font-size: 17px;
  font-family: "Roboto-Bold", Arial, sans-serif;
  margin: 8px auto;
}
hr {
  border: 0px;
  background: url(../img/hr.png) center center no-repeat;
  width: 100%;
  height: 1px;
  margin: 15px auto;
}
.clearfix {
  clear: both;
}
.app {
  text-align: center;
}
/************* Menu **************/

.menu_container {
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
  top: 50px;
  display:none;
}
.menu_item {
  list-style: none;
  margin: 0px;
  margin-left: 40%;
  background: url(../img/bg.jpg),#ffa905;
  height: 100%;
  padding: 0px;
}
.menu_item li {
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
  font-family: "Roboto";
  font-size: 18px;
}
.social_share {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 200px 0px 0px;
  background: rgba(0, 0, 0, 0.83);
  display:none;
}
.empty {
  width: 200px;
  margin: auto;
  background-color: green;
  color: white;
  font-family: "Roboto-Bold";
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
}
/************* Menu **************/

.white_text {
  width: 260px;
  background: white;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}
.next {
  width: 35px;
  height: 35px;
  margin: 20px auto;
  background: url(../img/next.png);
}
/**************    CSS for register.html       *************************/
.social_button {
  margin: 5px auto;
  cursor:pointer;
}
#error , #error2{
  color: red;
  font-family: "Roboto-Bold";
}
input[type="email"], input[type="password"] {
  width: 270px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #ffa200;
  padding: 10px;
  margin: 4px auto;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto-Bold";
}
.sign_up_button {
  width: 290px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  margin: 4px auto;
  /*background: url(../img/signup_button2.png) center center no-repeat;*/
  color: white;
  cursor:pointer;
}
.sign_up_btn {
  background: #4f4c4c;
  background-size: 100% 100%;
}
.logout{
  background: url(../img/signup_button.png) center center no-repeat;
  background-size:100% 100%;
}
.login {
  width: 290px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  margin: 20px auto 40px;
  background: #4f4c4c;
  color: white;
  cursor: pointer;
}
.checkbox {
  text-align: left;
  width: 290px;
  margin: 10px auto;
  font-size: 14px;
  height: 20px;
 }
.redirect {
  margin: 30px auto 0px;
  text-align: left;
  width: 290px;
  font-family:"Roboto-Bold";
  font-size:14px;
}

.header_sec {
  padding: 10px 0px;
}
.nav {
  display: inline-block;
  width: 15%;
  height: 35px;
  background: url(../img/nav.png) center center no-repeat;
}
.logo {
  display: inline-block;
  width: 70%;
  height: 35px;
  text-align: center;
}
.logo img {
  height: 35px;
}
.forgot_pass {
  display: inline;
  float: right;
  line-height: 24px;
  font-size: 12px;
  font-family: "Roboto-Bold", Arial, sans-serif;
}
.login_white h2 {
  color: #333;
  font-family: "Roboto-Bold", Arial, sans-serif;
  margin: 0px;
  padding: 15px 0px;
}
.login_white {
/*  background: white;*/
  min-height: 400px;
}
.loading {
  background: url(../img/waiting.gif)center center no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 9999;
}
.personal_info {
  list-style: none;
  padding: 0px;
  text-align: left;
}
.info {
  width: 80px;
  display: inline-block;
}
.data {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  font-family: "Roboto-Bold";
}
/************** Social Wall ********************/
.header {
  height: 40px;
  padding: 5px 20px;
  text-align: center;
  background: url(../img/bg.jpg);
  background-attachment: fixed;
}
.logo_prm {
  height: 100%;
  display: inline-block;
  width: 43px;
  float: left;
}
.logo_prm img {
  height: 100%;
}
.page_title {
  display: inline-block;
  font-family: "Roboto-Bold";
  font-size: 20px;
  padding: 10px 0px;
}
.menu {
  background: url(../img/nav_bar.png) center center no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  cursor: pointer;
}
.content {
  padding: 20px;
  background: white;
}
.status {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ffa200;
  padding: 10px 0px;
  font-family: "Roboto-Bold";
  text-indent: 10px;
}
.wall_title {
  color: #fdcb59;
  font-size: 14px;
  font-family: "Roboto-Medium";
  margin-bottom: 10px;
  padding-left: 20px;
  background: url(../img/status.png) center left no-repeat;
}
.upload {
  display: inline-block;
}
.upload>div {
  display: inline-block;
  margin: 15px 5px 0px 0px;
  cursor: pointer;
}
.post {
  background: #ffa200;
  display: inline-block;
  float: right;
  padding: 5px 15px;
  margin: 10px 0px;
  border-radius: 5px;
  color: white;
  font-family: "Roboto-Medium";
  cursor:pointer;
}
.post>input {
  background-color: inherit;
  border: 0px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 5px 15px;
  border-radius: 5px;
  cursor:pointer;
}
.submit {
  padding: 0px;
}
.posts {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Roboto-Medium";
  font-size: 12px;
}
.post_content {
  padding: 5px;
  min-height: 40px;
}
.profile_img {
  width: 40px;
  height: 100%;
  background-size: 100%;
  float: left;
  min-height: 40px;
  border-radius: 5px;
}
.profile_img img {
  width: 100%;
}
.post_text {
  padding-left: 60px;
  padding-right: 10px;
  position: relative;
}
.author {
  margin-bottom: 10px;
  color: #9c9ca8;
}
.post_img img {
  width: 100%;
  margin: 10px 0px;
}
.post_social {
  width: 100%;
  height: 30px;
  background: #eaeaea;
}
.comment_share {
  float: left;
  margin-left: 10px;
}
.comment {
  display: inline-block;
  padding: 8px 5px 8px 20px;
  background: url(../img/comment.png)center left no-repeat;
  text-decoration: underline;
  cursor: pointer;
}
.share {
  display: inline-block;
  padding: 8px 10px 8px 20px;
  background: url(../img/share.png) center left no-repeat;
  text-decoration: underline;
  cursor: pointer;
}
.post_stats {
  float: right;
  margin-right: 10px;
}
.comment_count {
  display: inline-block;
  padding: 8px 5px 8px 20px;
  background: url(../img/comment_count.png) center left no-repeat;
  cursor: pointer;
}
.share_count {
  display: inline-block;
  padding: 8px 5px 8px 20px;
  background: url(../img/like.png)center left no-repeat;
  cursor: pointer;
}
.delete {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/************** Social Wall ********************/
/************** Social Comment *****************/

.post_comment {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-top: 0px;
  font-family: "Roboto-Medium";
  font-size: 12px;
  margin-bottom: 10px;
}
.add_comment {
  margin: 10px 0px 0px;
}
.comment_del {
  position: absolute;
  top: 1px;
  right: 2px;
}
/************** Social Comment *****************/

/************** Messages Page ******************/

.msg_list {
  padding: 0px;
  background: white;
  list-style: none;
  font-family: "Roboto-Medium";
  font-size: 12px;
  margin:0px;
}
.msg_list li {
  padding: 5px 20px;
  min-height: 40px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
.msgr_img {
  width: 40px;
  height: 100%;
  background-size: 100%;
  float: left;
  min-height: 40px;
  border-radius: 5px;
}
.msgr_img img {
  width: 100%;
  border-radius: 5px;
}
.msg_body {
  padding-left: 60px;
  padding-right: 10px;
  position: relative;
}
.msg_date {
  position: absolute;
  top: 1px;
  right: 2px;
  color: #a2a2a2;
}
.msg_author {
  margin-bottom: 5px;
  color: #9c9ca8;
}
.more {
  position: absolute;
  width: 10px;
  height: 20px;
  background: url(../img/more.png) center center no-repeat;
  top: 15px;
  right: 1px;
  background-size: 100%;
  opacity: 0.5;
}
.unread {
  background: #f0f0f0;
}
.unread .more {
  opacity: 1;
}

/************** Messages Page ******************/


/************** Single message ******************/
.msg_single {
  padding: 5px 20px;
  border-bottom: 1px solid #eaeaea;
  min-height: 40px;
}
.msg_head {
  padding-left: 50px;
  padding-right: 10px;
  position: relative;
  padding-top: 11px;
}
.msg_by {
  font-family: "Roboto";
}
.msg_head .msg_date {
  top: 11px;
}
.msg {
  padding: 20px;
  font-family: "Roboto";
  font-size: 14px;
}
.msg_footer {
  padding: 10px 0px;
  background: #fdd86c;
  position: absolute;
  width: 100%;
  bottom: 61px;
  z-index: 9;
  color: #c17019;
  font-family: "Roboto-Bold";
  font-size: 12px;
}
.reply {
  color: #242424;
  float: left;
  padding: 5px 0px 0px 20px;
  margin-left: 20px;
  background: url(../img/reply.png) center left no-repeat;
  cursor:pointer;
}
.mark_read {
  float: right;
  padding: 5px 0px 0px 20px;
  margin-right: 20px;
  background: url(../img/mark_read.png) center left no-repeat;
}
.delete_msg {
  float: right;
  padding: 5px 0px 0px 15px;
  margin-right: 20px;
  background: url(../img/delete_msg.png) center left no-repeat;
}
/************** Single message ******************/
/************** Message Reply ******************/

.msg_history {
  margin-top: 30px;
}
.title {
  padding: 5px 20px;
  background: linear-gradient(#eaeaea,#ffffff);
  font-family: "Roboto";
}
.msg_short {
  cursor: pointer;
}
.delete_big {
  background: #eaeaea;
  font-family: "Roboto";
  font-size: 12px;
  padding: 5px 20px;
  color: #c17019;
  text-align: right;
  display:none;
}
.delete_big span {
  padding-left: 20px;
  background: url(../img/delete_msg.png) center left no-repeat;
}

/************** Message Reply ******************/


/************** Profile ******************/

.profile_main {
  text-align: center;
  margin: 20px 0px;
}
.profile_pic img {
  max-width: 100px;
  border-radius: 10px;
}
.profile_name {
  font-family: "Roboto-Bold";
  font-size: 18px;
  margin: 5px 0px;
}
.profile_des {
  font-family: "Roboto";
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  font-family: "Roboto";
  background: #ffa200;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}
.trophy {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.trophy img {
  width: 18%;
  margin: 1%;
  border-radius: 10px;
  cursor:pointer;
}
.title span {
  float: right;
  color: #ffa200;
  font-size: 12px;
  padding: 2px 5px 2px 10px;
}
.title_big {
  padding: 10px 20px;
  background: #312827;
  color: #fdcb59;
  font-family: "Roboto-Medium";
  text-transform: uppercase;
}
.profile_edit {
  padding: 20px;
}
.profile_edit::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.profile_edit label {
  font-family: "Roboto-Bold";
  font-size: 14px;
}
.hobby, select, .profile_edit input[type="password"], input[type="text"] {
  width: 100%;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #ffa200;
  padding: 10px 0px;
  text-indent: 10px;
  margin: 8px auto;
  font-family: "Roboto-Bold";
}
.edit_img {
  margin: 10px 0px;
}
.original_img {
  float: left;
}
.original_img img {
  width: 40px;
  border-radius: 5px;
}
.upload_img {
  display: inline-block;
  vertical-align: top;
  color: red;
  font-family: "Roboto";
  font-size: 12px;
  text-decoration: underline;
  margin: 5px;
  cursor:pointer;
}
#upload_img {
  position: absolute;
  opacity: 0;
  z-index: 9;
  width: 110px;
  cursor: pointer;
}
.allowed_img {
  display: inline-block;
  font-size: 12px;
  font-family: "Roboto";
  margin: 2px 5px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.circle {
  margin: 10px 0px;
  text-align: center;
  background: url(../img/line_through.png) center center no-repeat;
  background-size: 170px;
}
.circle>div {
  width: 58px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  font-family: "Roboto";
  font-size: 10px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  color: white;
  text-transform: uppercase;
}
.green {
  background: #218745;
}
.yellow {
  background: #ffcc4f;
  color: black !important;
}
.black {
  background: #202020;
}
.add_more {
  width: 40px;
  height: 40px;
  background: url(../img/add_more.png);
  display: inline-block;
  vertical-align: top;
  background-size: 100%;
  cursor:pointer;
}
.club_country {
  width: 80% !important;
}
.club_dir {
  padding: 20px;
  border-bottom: 1px solid rgba(36, 36, 36, 0.2);
  overflow: hidden;
}
.club_img {
  float: left;
  width:50px;
}
.club_img img {
  width: 100%;
}
.club_info {
  padding-left: 80px;
  font-size: 14px;
  font-family: "Roboto";
}
.club_name {
  font-family: "Roboto-Bold";
  margin-bottom: 5px;
}
#logo_preview {
  display: inline-block;
  max-width: 40%;
}
#logo_preview img {
  width: 100%;
  border-radius: 5px;
}
/************** Profile ******************/


/************** Find Hobby ******************/
.hobby_search {
  padding: 20px;
}
.title_large {
  text-align: center;
  font-family: "Roboto-Bold";
  font-size: 22px;
}
.sec_title {
  font-family: "Roboto-Medium";
  text-align: center;
  font-size: 16px;
}
.hobby_img {
  text-align: center;
  margin: 10px 0px;
  overflow:hidden;
}
.hobby_items {
  float: left;
  width: 30%;
  margin-right: 4.5%;
  font-family: "Roboto-Medium";
  font-size: 12px;
  margin-bottom: 10px;
}
.hobby_items img {
  width: 100%;
}
.last {
  margin-right: 0px;
}
.hobby_detail {
  padding: 20px;
}
.hobby_det_title {
  font-family: "Roboto-Bold";
  font-size: 16px;
}
.hobbydetails {
  font-family: "Roboto";
  font-size: 14px;
  margin: 10px 0px;
}
/************** Find Hobby ******************/


/************* Footer Links ********************/
.links {
  width: 100%;
  position: fixed;
  background: white;
  border-top: 1px solid #eaeaea;
  height: 60px;
  bottom: 0px;
  box-shadow: 0px 0px 25px 10px white;
  text-align: center;
  left: 0px;
}
.links>a>div {
  display: inline-block;
  width: 18%;
  font-size: 10px;
  font-family: "Roboto-Medium";
  text-align: center;
  padding-top: 30px;
  margin-top: 5px;
  color: #adadad;
  vertical-align:top;
}
.social_wall {
  background: url(../img/social_wall.png) center top no-repeat;
}
.profile {
  background: url(../img/profile.png) center top no-repeat;
}
.messages {
  background: url(../img/message.png) center top no-repeat;
}
.diary {
  background: url(../img/diary.png) center top no-repeat;
}
.hobby_link {
  background: url(../img/hobby_link.png) center top no-repeat;
}
.social_wall.selected {
  background: url(../img/social_wall2.png) center top no-repeat;
}
.profile.selected {
  background: url(../img/profile2.png) center top no-repeat;
}
.messages.selected {
  background: url(../img/message2.png) center top no-repeat;
}
.diary.selected {
  background: url(../img/diary2.png) center top no-repeat;
}
.hobby_link.selected {
  background: url(../img/hobby_link2.png) center top no-repeat;
}
.selected {
  color: #ffa200 !important;
}
.white_space {
  width: 100%;
  height: 65px;
}
/************* Footer Links ********************/
.access_footer {
  width: 100%;
  background: -webkit-linear-gradient(#ffd65e, #febf04);
  background: -moz-linear-gradient(#ffd65e, #febf04);
  background: -ms-linear-gradient(#ffd65e, #febf04);
  background: -o-linear-gradient(#ffd65e, #febf04);
  background: linear-gradient(#ffd65e, #febf04);
  position: fixed;
  bottom: 0px;
}
.access_link {
  display: inline-block;
  width: 50%;
  padding: 10px 0px;
  font-size: 14px;
  font-family: "Roboto-bold";
  text-transform: uppercase;
  cursor:pointer;
}
.access_selected {
  background-color: white;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.error {
  color: red;
  margin-left: 10px;
}
.reply_div {
  overflow: hidden;
}